.shell {  background: rgba(255,255,255, 0.4);
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-top: 30px;
 
}
    
 .shell:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
    
.row p {display: none;}
    
h4.publication a {
  color:  black;
  background: #e6e6e6;
  padding: 10px 20px 5px 20px; 
  box-shadow: #616161 0px 2px 3px 0px;
  font-size: 15px;

}
    
h4.publication a[href="http://www.deadmule.com"], h4.publication a[href="http://pitheadchapel.com"] {
   background: #616161; 
   color: white;
}
    
    h4.publication a[href="http://atticusreview.org"] {
   background: #b82427; 
   color: white;
}
     h4.publication a[href="http://www.theawl.com"] {
   background:  #1e3757; 
   color: #cbff8f;
}
    
        h4.publication a[href="http://bookriot.com"] {
   background: #eba921; 
   color: black;
}
         
    h4.publication a[href="http://www.brainpickings.org"] {
   background: yellow; 
   color: black;
}
    
       h4.publication a[href="http://coloradoreview.colostate.edu"] {
   background: #93a039; 
   color: white;
}
    
      h4.publication a[href="http://www.full-stop.net"] {
   background:  #beb4c9; 
   color: white;
}
    
      h4.publication a[href="http://www.theguardian.com/books"] {
   background:  #e9eff1; 
   color: black;
}
    
   
     h4.publication a[href="http://harpers.org"] {
   background:  #0033bb; 
   color: white;
}
  
    h4.publication a[href="http://www.imagejournal.org"] {
   background:  #69a7af; 
   color: white;
}
    h4.publication a[href="http://iowareview.org/"] {
   background:  #423f24; 
   color: white;
}
    

    h4.publication a[href="http://www.kenyonreview.org"] {
   background:  #73b9b9; 
   color: white;
}
    
       h4.publication a[href="http://www.lightspeedmagazine.com"] {
   background: #fecf12; 
   color: black;
}
    
    h4.publication a[href="http://lithub.com"] {
   background: #f9eed9; 
   color: black;
}
   
    h4.publication a[href="http://www.lrb.co.uk/"] {
   background:#005689; 
   color: white;
}
    
    h4.publication a[href="http://www.npr.org/templates/story/story.php?storyId=1032"] {
   background:  #f25c23; 
   color: white;
}
    
    h4.publication a[href="http://www.theparisreview.org/blog"] {
   background:  #414141; 
   color: white;
}
    
         h4.publication a[href="http://www.theglobeandmail.com/?cmpid=rss2"] {
   background:#db161f; 
   color: white;
}

    h4.publication a[href="http://portlandreview.org"] ,h4.publication a[href="http://theoffingmag.com"] {
   background: black; 
   color: white;
}
    
    h4.publication a[href="http://prairieschooner.unl.edu/blog"] {
   background:    #02a5cd; 
   color: white;
}
    
   h4.publication a[href="http://www.the-tls.co.uk"] {
   background: #d73f2b; 
   color: white;
}
         
    h4.publication a[href="http://www.thestar.com/content/thestar/feed.RSSManagerServlet.articles.entertainment.books.rss"] {
   background:   #0164a4; 
   color: white;
}
    
